/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

/* BODY */
body {
    background-color: white;
    min-height: 100vh;
            
    margin: 0; 
    margin-top: 6vh;

    padding-bottom: 50px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #000000 #00000000;
}

html::-webkit-scrollbar {
    width: 0.7vw;
    min-width: 10px;

    height: 0.7vh;
    min-height: 10px;
}

html::-webkit-scrollbar-track {
    background: #00000000;
}

html::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50%;
}

p {
    font-family: 'Alexandria', sans-serif;
    color: #000000;

    animation: pop_up_header 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
}

h2 {
    font-family: 'Alexandria', sans-serif;
    font-size: 1.5rem;
    
    color: rgb(41, 41, 41);

    animation: pop_up_header 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
}

.header_column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    min-height: 100vh;
}

.staggered_display {     
    margin-left: 10vw;     
    margin-right: 10vw;      
    display: flex;     
    flex-direction: column; 
}  

.staggered_display > .staggered_child:nth-child(2n) {     
    margin-left: auto; 
}  

.info {     
    width: 40vw;     
    display: block; 
}  

.staggered_child {     
    width: fit-content; 
}  

.flex_r {     
    display: flex;     
    width: auto; 
    align-items: flex-start;

    margin-left: 5vw;
    margin-right: 5vw;
}  

.flex_r img {     
    margin-right: 15vw;
    width: auto;     
    height: 32vh; 
}

.flex_l {     
    display: flex;     
    width: auto; 
    align-items: flex-start;

    margin-left: 5vw;
    margin-right: 5vw;
}  

.flex_l img {     
    margin-left: 15vw;
    width: auto;     
    height: 40vh; 
    image-rendering: pixelated;
}

.hero_text {
    flex-shrink: 1;
    min-width: 0;

    margin-right: auto;
    margin-left: 8vw;
}

.hero_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.gort_image {
    max-width: 600px;
    width: 35vw;

    border-radius: 50%;
}

.gort_logo_image {
    height: 100%;
    width: auto;

    margin-left: auto;
    padding-right: 5vw;

    object-fit: contain;

    display: block;
}

/* TOP BAR */
.top_nav {
    background-color: black;
    overflow: hidden;

    display: flex;

    align-items: center;
    justify-content: flex-start;

    position: fixed;

    top: 0;
    left: 0;

    height: 6vh;
    width: 100%;

    z-index: 1000;
}

.top_nav a {
    padding: 0 3vw;
    float: left;

    color: white;
    text-decoration: none;

    font-family: 'Alexandria', sans-serif;
    font-size: 1.25rem;

    transition: color 0.1s ease-out;
}

.top_nav a:hover {
    color: #d894ff;
}

.top_nav a.current {
    color: #d894ff;
    
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.top_nav_label {
    float: right;
    text-align: center;

    color: white;

    font-family: 'Alexandria', sans-serif;
    font-size: 1.5rem;
}

/* HEADER CLASSES */
.main_header {
    font-family: 'Alexandria', sans-serif;
    font-size: 3rem;
    
    color: black;

    animation: pop_up_header 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
}

/* SCROLL MARKER */
.scroll_marker {
    position: fixed;
    text-align: center;

    left: 50%;

    margin-top: auto;
    bottom: 3vh;

    transform: translateX(-50%);

    z-index: 999;

    font-family: 'Alexandria', sans-serif;
    font-size: 1.5rem;

    color: #d894ff;

    animation: show 1s cubic-bezier(0.4,0,0.2,1) forwards, bob 1s ease-in-out none infinite;
}

.scroll_marker.hidden {
    animation: bob 1s ease-in-out none, hide 0.2s ease-out forwards;
}

/* ANIMATIONS */
@keyframes pop_up_header {
    0% {
        opacity: 0;
        transform: translateY(2vh);
    }

    70% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bob {
    from, to {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(-1vh) translateX(-50%);
    }
}